
a:hover{
    color: white;
}

.card{
    width: 30%;
}

.info{
    display: flex;
    justify-content: space-evenly;
}

.texto{
    width: 50%;
}

#titulo{
    display: flex;
    justify-content: center;
}

button{
    width: 100%;
}
.card{
    border-radius: 500px;
  overflow: hidden;
  background: rgb(43, 42, 43);
  box-shadow: 0px 1px 10px rgb(190, 17, 17);
  cursor: default;
  transition: all 400ms ease;
 
  }
  .card:hover{
  box-shadow: seashell;
  transform: translateY(-3%);
  }
   .card p{
       color: rgb(180, 16, 16);
   }
   .card{
       width: 100%;
   }